@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-home: oklch(70.7% 0.022 261.325);
  --bg-project-sec-1: oklch(87.2% 0.01 258.338);
  --bg-project-sec-2: oklch(87.1% 0.15 154.449);
  --bg-project-sec-3: oklch(94.5% 0.129 101.54);
  --bg-about: oklch(88.2% 0.059 254.128);
  --bg-contact: oklch(70.7% 0.165 254.624);
  --bg-footer: oklch(37.3% 0.034 259.733);

  --perspective: calc(3 * 100vh);
  --perspective-origin: 50% -200%;
  --tilemap-width: 32;
  --tile-size: clamp(
    calc(100vw / var(--tilemap-width)),
    calc(200vh / var(--tilemap-width)),
    calc(150vw / var(--tilemap-width))
  );

  --card-height: 70px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.preserve-3d,
.preserve-3d * {
  transform-style: preserve-3d;
}

.remove-rotation {
  transform: rotateX(-90deg);
  transform-origin: bottom;
}

.navbar {
  width: 100%;
}

.code {
  width: 58rem;
  height: 31rem;
  padding: 16px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
  line-height: 1.5;
  color: #d4d4d4;
  white-space: pre;
  user-select: none;
}

/* Syntax */
.kw {
  color: #c586c0;
}
.id {
  color: #9cdcfe;
}
.fn {
  color: #dcdcaa;
}
.str {
  color: #ce9178;
}
.cmp {
  color: #4ec9b0;
}
.prop {
  color: #9cdcfe;
}
.sym {
  color: #d4d4d4;
}

/* Editable slots */
.value {
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #555;
  outline: none;
  text-align: center;
}

.value.number {
  color: #b5cea8;
}
.value.boolean {
  color: #569cd6;
}
.value.color {
  color: #ce9178;
}

.value:focus {
  border-bottom-color: #ffd700;
}
